In [45]:
%matplotlib inline
import pandas as pd

In [75]:
# url = 'http://www.perthmint.com.au/treasury/gold-Current.csv?_ga=2.217144726.1877785870.1557661316-1377825704.1557661316'

### OLD DATA

url = 'http://www.perthmint.com.au/treasury/gold.csv?_ga=2.259620106.1877785870.1557661316-1377825704.1557661316'

df = pd.read_csv(url,header=0)
df = df[['Market','Perth Mint Spot.15']]
df.columns = ['Date','AskPrice_Avg_AUD']
df.dropna(axis=0,how='any',inplace=True)
df = df.iloc[4:,:]
df.Date = pd.to_datetime(df.Date)

df.AskPrice_Avg_AUD = df.AskPrice_Avg_AUD.str.strip()
df.AskPrice_Avg_AUD = df.AskPrice_Avg_AUD.str.replace(',', '')
df.AskPrice_Avg_AUD = df.AskPrice_Avg_AUD.astype('float')
# df.set_index('Date',drop=True,inplace=True)

df.to_json('gold_askprice_avg_aud.json',orient='records')

In [98]:
def data_update_GOLD(url = 'http://www.perthmint.com.au/treasury/gold-Current.csv'):

    filepath = "../media_files/datasets/gold_askprice_avg_aud.json"
    old_data = pd.read_json(filepath,orient='records')

    df = pd.read_csv(url,header=0)
    df = df[['Market','Perth Mint Spot.15']]
    df.columns = ['Date','AskPrice_Avg_AUD']
    df.dropna(axis=0,how='any',inplace=True)
    df = df.iloc[4:,:]
    df.Date = pd.to_datetime(df.Date)

    df.AskPrice_Avg_AUD = df.AskPrice_Avg_AUD.str.strip()
    df.AskPrice_Avg_AUD = df.AskPrice_Avg_AUD.str.replace(',', '')
    df.AskPrice_Avg_AUD = df.AskPrice_Avg_AUD.astype('float')
    old_data = old_data.append(df)

    old_data.to_json(filepath,orient='records')

    old_data.drop_duplicates(keep='last',inplace=True)

In [111]:
### OLD DATA

url = 'http://www.perthmint.com.au/treasury/silver.csv'

df = pd.read_csv(url,header=0)
df = df[['Market','Perth Mint Spot.15']]
df.columns = ['Date','AskPrice_Avg_AUD']
df.dropna(axis=0,how='any',inplace=True)
df = df.iloc[4:,:]
df.Date = pd.to_datetime(df.Date)

df.AskPrice_Avg_AUD = df.AskPrice_Avg_AUD.astype('float')
# df.set_index('Date',drop=True,inplace=True)

df.to_json('silver_askprice_avg_aud.json',orient='records')

In [116]:
def data_update_SILVER(url = 'http://www.perthmint.com.au/treasury/silver-Current.csv'):

    filepath = "silver_askprice_avg_aud.json"
    old_data = pd.read_json(filepath,orient='records')

    df = pd.read_csv(url,header=0)
    df = df[['Market','Perth Mint Spot.15']]
    df.columns = ['Date','AskPrice_Avg_AUD']
    df.dropna(axis=0,how='any',inplace=True)
    df = df.iloc[4:,:]
    df.Date = pd.to_datetime(df.Date)

#     df.AskPrice_Avg_AUD = df.AskPrice_Avg_AUD.astype('str')
    df.AskPrice_Avg_AUD = df.AskPrice_Avg_AUD.str.strip()
    df.AskPrice_Avg_AUD = df.AskPrice_Avg_AUD.str.replace(',', '')
    df.AskPrice_Avg_AUD = df.AskPrice_Avg_AUD.astype('float')
    old_data = old_data.append(df)

    old_data.to_json(filepath,orient='records')

    old_data.drop_duplicates(keep='last',inplace=True)
    
    return(old_data)

data_update_SILVER()

      AskPrice_Avg_AUD       Date
0                 3.74 1975-02-01
1                 3.65 1975-03-01
2                 3.55 1975-06-01
3                 3.58 1975-07-01
4                 3.54 1975-08-01
5                 3.54 1975-09-01
6                 3.51 1975-10-01
7                 3.70 1975-01-13
8                 3.60 1975-01-14
9                 3.73 1975-01-15
10                3.60 1975-01-16
11                3.48 1975-01-17
12                3.33 1975-01-20
13                3.40 1975-01-21
14                3.34 1975-01-22
15                3.32 1975-01-23
16                3.55 1975-01-24
17                3.47 1975-01-28
18                3.52 1975-01-29
19                3.58 1975-01-30
20                3.46 1975-01-31
21                3.43 1975-03-02
22                3.43 1975-04-02
23                3.45 1975-05-02
24                3.43 1975-06-02
25                3.54 1975-07-02
26                3.57 1975-10-02
27                3.55 1975-11-02
28                3.61 1975-12-02
29                3.66 1975-02-13
...                ...        ...
1178             21.86 2019-03-20
1179             21.96 2019-03-21
1180             21.99 2019-03-22
1183             22.01 2019-03-25
1184             21.98 2019-03-26
1185             21.89 2019-03-27
1186             21.76 2019-03-28
1187             21.39 2019-03-29
1190             21.44 2019-01-04
1191             21.45 2019-02-04
1192             21.55 2019-03-04
1193             21.45 2019-04-04
1194             21.46 2019-05-04
1197             21.54 2019-08-04
1198             21.57 2019-09-04
1199             21.51 2019-10-04
1200             21.43 2019-11-04
1201             21.21 2019-12-04
1204             21.04 2019-04-15
1205             21.12 2019-04-16
1206             21.10 2019-04-17
1207             21.05 2019-04-18
1208             21.14 2019-04-19
1211             21.12 2019-04-22
1212             21.25 2019-04-23
1213             21.21 2019-04-24
1214             21.46 2019-04-25
1215             21.53 2019-04-26
1218             21.51 2019-04-29
1219             21.41 2019-04-30

[12097 rows x 2 columns]